# AI Assignment - 2

# Name : Koushal Vel V S
# Reg No : 20BCE1869
# Email ID : koushalvel.vs2020@vitstudent.ac.in

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('drug200.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
#data['Sex'] = le.fit_transform(data['Sex'])
#data['Cholesterol'] = le.fit_transform(data['Cholesterol'])
#data['Drug'] = le.fit_transform(data['Drug'])
#data['BP'] = le.fit_transform(data['BP'])

In [ ]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
y = pd.DataFrame(data['Drug'])
X = pd.DataFrame(data.drop(columns=['Drug'],axis =1))

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 7.9+ KB

In [ ]:
X = pd.get_dummies(X,columns= ['BP','Cholesterol','Sex'])

In [ ]:
y

      Drug
0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
..     ...
195  drugC
196  drugC
197  drugX
198  drugX
199  drugX

[200 rows x 1 columns]

In [ ]:
y = pd.get_dummies(y,columns=['Drug'])

In [ ]:
X.head()

,Age,Na_to_K,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL,Sex_F,Sex_M
0,23,25.355,1,0,0,1,0,1,0
1,47,13.093,0,1,0,1,0,0,1
2,47,10.114,0,1,0,1,0,0,1
3,28,7.798,0,0,1,1,0,1,0
4,61,18.043,0,1,0,1,0,1,0

In [ ]:
#X.drop(columns=['BP','Cholesterol','Sex'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
X_train.shape , X_test.shape , y_train.shape, y_test.shape

((140, 9), (60, 9), (140, 5), (60, 5))

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
reg_model = Sequential()

reg_model.add(Dense(9,input_dim=9,activation='relu'))
reg_model.add(Dense(32,activation='relu'))
reg_model.add(Dense(32,activation='relu'))
reg_model.add(Dense(5,activation='softmax'))

In [ ]:
reg_model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [ ]:
#from keras.utils import to_categorical


#y_train = to_categorical(y_train, 5)
#y_test = to_categorical(y_test, 5)

In [ ]:

reg_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 90

 dense_1 (Dense)             (None, 32)                320

 dense_2 (Dense)             (None, 32)                1056

 dense_3 (Dense)             (None, 5)                 165

=================================================================
Total params: 1,631
Trainable params: 1,631
Non-trainable params: 0
_________________________________________________________________

In [ ]:

reg_model.fit(X_train,y_train,epochs=25,batch_size=5,validation_data=(X_test,y_test))

Epoch 1/25
28/28 [==============================] - 1s 9ms/step - loss: 2.9792 - accuracy: 0.3071 - val_loss: 1.4835 - val_accuracy: 0.4833
Epoch 2/25
28/28 [==============================] - 0s 2ms/step - loss: 1.4898 - accuracy: 0.3571 - val_loss: 1.5410 - val_accuracy: 0.2833
Epoch 3/25
28/28 [==============================] - 0s 2ms/step - loss: 1.3040 - accuracy: 0.4429 - val_loss: 1.5178 - val_accuracy: 0.2833
Epoch 4/25
28/28 [==============================] - 0s 3ms/step - loss: 1.2113 - accuracy: 0.4786 - val_loss: 1.3176 - val_accuracy: 0.5167
Epoch 5/25
28/28 [==============================] - 0s 2ms/step - loss: 1.1083 - accuracy: 0.5786 - val_loss: 1.2747 - val_accuracy: 0.4667
Epoch 6/25
28/28 [==============================] - 0s 3ms/step - loss: 1.0800 - accuracy: 0.6071 - val_loss: 1.1527 - val_accuracy: 0.5167
Epoch 7/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0414 - accuracy: 0.6071 - val_loss: 1.2025 - val_accuracy: 0.5500
Epoch 8/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0378 - accuracy: 0.5929 - val_loss: 1.1218 - val_accuracy: 0.5167
Epoch 9/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0786 - accuracy: 0.5571 - val_loss: 1.1064 - val_accuracy: 0.5500
Epoch 10/25
28/28 [==============================] - 0s 3ms/step - loss: 1.0048 - accuracy: 0.6000 - val_loss: 1.2347 - val_accuracy: 0.5000
Epoch 11/25
28/28 [==============================] - 0s 3ms/step - loss: 1.0221 - accuracy: 0.6143 - val_loss: 1.1702 - val_accuracy: 0.5333
Epoch 12/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0719 - accuracy: 0.5857 - val_loss: 1.1819 - val_accuracy: 0.4667
Epoch 13/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0599 - accuracy: 0.5929 - val_loss: 1.2410 - val_accuracy: 0.4500
Epoch 14/25
28/28 [==============================] - 0s 3ms/step - loss: 1.0074 - accuracy: 0.6214 - val_loss: 1.1856 - val_accuracy: 0.5000
Epoch 15/25
28/28 [==============================] - 0s 3ms/step - loss: 0.9960 - accuracy: 0.6000 - val_loss: 1.1190 - val_accuracy: 0.5500
Epoch 16/25
28/28 [==============================] - 0s 2ms/step - loss: 0.9830 - accuracy: 0.6071 - val_loss: 1.0739 - val_accuracy: 0.5500
Epoch 17/25
28/28 [==============================] - 0s 2ms/step - loss: 0.9941 - accuracy: 0.6214 - val_loss: 1.0771 - val_accuracy: 0.5500
Epoch 18/25
28/28 [==============================] - 0s 3ms/step - loss: 0.9567 - accuracy: 0.5929 - val_loss: 1.0572 - val_accuracy: 0.5500
Epoch 19/25
28/28 [==============================] - 0s 3ms/step - loss: 0.9386 - accuracy: 0.6143 - val_loss: 1.0238 - val_accuracy: 0.5667
Epoch 20/25
28/28 [==============================] - 0s 2ms/step - loss: 0.9462 - accuracy: 0.6214 - val_loss: 1.1546 - val_accuracy: 0.5167
Epoch 21/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0107 - accuracy: 0.5786 - val_loss: 1.2265 - val_accuracy: 0.4833
Epoch 22/25
28/28 [==============================] - 0s 2ms/step - loss: 0.9559 - accuracy: 0.6000 - val_loss: 1.0642 - val_accuracy: 0.5500
Epoch 23/25
28/28 [==============================] - 0s 3ms/step - loss: 0.9157 - accuracy: 0.6143 - val_loss: 1.1139 - val_accuracy: 0.5167
Epoch 24/25
28/28 [==============================] - 0s 2ms/step - loss: 0.9249 - accuracy: 0.6429 - val_loss: 0.9972 - val_accuracy: 0.5500
Epoch 25/25
28/28 [==============================] - 0s 2ms/step - loss: 0.8992 - accuracy: 0.6286 - val_loss: 1.0570 - val_accuracy: 0.5000

In [ ]:
print(reg_model.predict([[23,25.355,1,0,0,1,0,1,0]]))

1/1 [==============================] - 0s 95ms/step
[[9.9758351e-01 1.1184382e-03 2.1657320e-04 1.1382627e-04 9.6765894e-04]]