# AI Assignment - 1

# Name : Koushal Vel V S
# Reg No : 20BCE1869
# Email ID : koushalvel.vs2020@vitstudent.ac.in

### 1. create pandas dataframe  with numpy random values with 4 features and 4 observation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.DataFrame(np.random.rand(4, 4))
data

          0         1         2         3
0  0.147533  0.091045  0.012393  0.688091
1  0.363757  0.769099  0.364320  0.585463
2  0.271055  0.545062  0.986986  0.582497
3  0.758780  0.763691  0.021260  0.283350

### 2. Rename the task-1 'df' dataframe column names to 'randon value 1','random value2' etc

In [ ]:
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.704144        0.956323        0.136018        0.885700
1        0.245069        0.283385        0.026906        0.131796
2        0.329582        0.183735        0.728141        0.399454
3        0.953063        0.052231        0.135174        0.517344

### 3. Find the discriptive statistics of 'df' dataframe

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.557964        0.368918        0.256559        0.483574
std          0.330421        0.402883        0.318535        0.312874
min          0.245069        0.052231        0.026906        0.131796
25%          0.308454        0.150859        0.108107        0.332539
50%          0.516863        0.233560        0.135596        0.458399
75%          0.766374        0.451619        0.284049        0.609433
max          0.953063        0.956323        0.728141        0.885700

### 4. check for the null values in 'df' and find the datatype of the columns

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

### 5. display the 'random value 2' and 'random value 3' coplumns with location and index location method

In [ ]:
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.956323        0.136018
1        0.283385        0.026906
2        0.183735        0.728141
3        0.052231        0.135174

In [ ]:
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.956323        0.136018
1        0.283385        0.026906
2        0.183735        0.728141
3        0.052231        0.135174